body {
    margin: 0;
}

#dataTable {
    position: relative;
    margin-left: 0.5vw;
    width: 96vw;
    overflow: hidden;
}

table {
    display: flex;
    flex-direction: column;
}

tr {
    border: 1px black solid;
    display: flex;
    margin-bottom: 2px;
}

td {
    margin-left: 5px;
    border-right: 1px solid black;
    width: 12%;
    overflow: scroll;
}

#dataTable > tr:first-of-type {
    text-transform: uppercase;
    font-size: 13px;
}

#dataTable > tr:not(:first-of-type) {
    font-size: small;
}